version: '3.8'
services:
  nginx: 
    image: nginx
    ports:
      - 3000:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  nodeapp: 
    build: .
    environment:
      - PORT=3000
    depends_on:
      - mongo
  mongo: 
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=daupa
      - MONGO_INITDB_ROOT_PASSWORD=mypass
    volumes:
      - mongo-db:/data/db
volumes:
  mongo-db: